// footer
footer.footer 
	.container 
		.footer__row
			a(href="#").footer__logo 
				img(src="img/logo_footer.webp", alt="")
			.footer__text 
				span 2022 First Flowers
				a(href="malto:first-flowers@mail.ru") E-mail: first-flowers@mail.ru
				a(href="#") WhatsApp: +7 903 015-33-15
			// social
			.social
				ul.social__list 
					li 
						a(href="#") 
							img(src="img/tg_icon.svg", alt="")
					li 
						a(href="#") 
							img(src="img/whatsapp_icon.svg", alt="")
					li 
						a(href="#") 
							img(src="img/vk_icon.svg", alt="")
			//	/social
// /footer