extends blocks/base.pug

block title 
	title Главная

block content

	.page

		include blocks/header.pug
		
		.content

			// slider
			.slider
				.container
					#sliderHome.slider__slider 
						.swiper-wrapper
							.swiper-slide
								.slider__block 
									.slider__img 
										img(src="img/slider.jpg", alt="")
									.slider__sticker ВЕСЕННЯЯ АКЦИЯ
									.slider__content 
										.slider__title -30%
										a(href="#").slider__btn ВЫБРАТЬ БУКЕТ
							.swiper-slide
								.slider__block 
									.slider__img 
										img(src="img/slider.jpg", alt="")
									.slider__sticker ВЕСЕННЯЯ АКЦИЯ
									.slider__content 
										.slider__title -30%
										a(href="#").slider__btn ВЫБРАТЬ БУКЕТ
							.swiper-slide
								.slider__block 
									.slider__img 
										img(src="img/slider.jpg", alt="")
									.slider__sticker ВЕСЕННЯЯ АКЦИЯ
									.slider__content 
										.slider__title -30%
										a(href="#").slider__btn ВЫБРАТЬ БУКЕТ
						.slider__pagination.swiper-pagination
			//	/slider

			// items
			.items
				.container 
					.items__container
						.row.gy-3.justify-content-center
							.col-lg-4.col-md-6
								.items__card 
									.items__title Бесплатная доставка
										span по Москве за 2 часа
									.items__icon 
										img(src="img/car_icon.svg", alt="")
							.col-lg-4.col-md-6
								.items__card 
									.items__title Бесплатная открытка
										span к каждому букету	
									.items__icon 
										img(src="img/sheet_icon.svg", alt="")
							.col-lg-4.col-md-6
								.items__card 
									.items__title Вежливые курьеры
										span до самого вручения
									.items__icon 
										img(src="img/man_icon.svg", alt="")

			//	/items
			
		include blocks/footer.pug