extends blocks/base.pug

block title 
	title Навигация по страницам

block content

	.page

		include blocks/header.pug
		
		.content
			.navPage
				.container
					h1 Навигация по страницам
					ul
						li 
							a(href="home.html") Главная
						li 
							a(href="home-filter.html") Главная (с фильтром)
						li 
							a(href="product.html") Страница товара
						li 
							a(href="product_2.html") Страница товара (слайдер со стрелками)
						li 
							a(href="search-result.html") Результат поиска
						li 
							a(href="order_1.html") Оформление заказа (шаг 1)
						li 
							a(href="order_2.html") Оформление заказа (шаг 2)
						li 
							a(href="order_3.html") Оформление заказа (шаг 3)
						li 
							a(href="order_4.html") Оформление заказа (шаг 4)
			
		include blocks/footer.pug