.filter {
  position: absolute;
  top: 0;
  left: div($gutter , 2);
  z-index: 9;
  &__close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    &:after,&:before {
      content: '';
      display: block;
      width: 50%;
      height: 2px;
      background-color: #545454;
      position: absolute;
      top: 50%;
      left: 50%;
      cursor: pointer;
      user-select: none;
    }
    &:after {
      transform: translate(-50%,-50%) rotate(45deg);
    }
    &:before {
      transform: translate(-50%,-50%) rotate(-45deg);
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    &.is-active {
      .filter__circles {
        transform: translate(0, -2px);
    
        &:before,
        &:after {
          transform: translate(0, 5px);
        }
      }
    }
  }
  &__circles {
    width: 8px;
    height: 8px;
    margin: 0 21px 0 11px;
    border-radius: 100%;
    background-color: $purple;
    position: relative;
    transition: 0.3s;
    &:after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background-color: $purple;
      position: absolute;
      top: 0;
      right: -11px;
      transition: 0.3s;
    }
    &:before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background-color: $purple;
      position: absolute;
      top: 0;
      left: -11px;
      transition: 0.3s;
    }
  }
  &__drop {
    width: 375px;
    padding: 15px 15px 63px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.28);
    position: absolute;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    transform: translate(0,20px);
    transition: 0.3s;
    position: absolute;
    &.open {
      visibility: visible;
      opacity: 1;
      transform: translate(0,0);
    }
  }
  &__clear {
    font-size: 16px;
    color: $purple;
    margin-bottom: 24px;
    cursor: pointer;
    user-select: none;
  }
  &__row {
    margin-bottom: 22px;
  }
  &__title {
    font-size: 16px;
    margin-bottom: 15px;
  }
  &__categories {
    display: flex;
    flex-wrap: wrap;
    margin-top: -18px;
    margin-left: -17px;
    > * {
      margin-top: 18px;
      margin-left: 17px;
    }
  }
  &__category {
    font-size: 12px;
    input {
      display: none;
      &:checked {
        ~ label {
          color: $purple;
        }
      }
    }
    label {
      display: block;
      cursor: pointer;
      user-select: none;
    }
  }
  &__names {
    display: flex;
    flex-wrap: wrap;
    margin-top: -4px;
    margin-left: -3px;
    > * {
      margin-top: 4px;
      margin-left: 3px;
    }
  }
  &__name {
    font-size: 12px;
    input {
      display: none;
      &:checked {
        ~ label {
          border-color: $purple;
          color: $purple;
        }
      }
    }
    label {
      display: block;
      padding: 7px;
      background: #FFFFFF;
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
      border-radius: 5px;
      border: 1px solid transparent;
      cursor: pointer;
      user-select: none;
    }
  }
  &__colors {
    display: flex;
    flex-wrap: wrap;
    margin-top: -8px;
    margin-left: -15px;
    > * {
      margin-top: 8px;
      margin-left: 15px;
    }
  }
  &__color {
    input {
      display: none;
      &:checked {
        ~label {
          &:after {
            opacity: 1;
          }
        }
      }
    }
    label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 29px;
      height: 29px;
      border-radius: 100%;
      cursor: pointer;
      &:after {
        content: '';
        display: block;
        width: 23px;
        height: 23px;
        border-radius: 100%;
        border: 2px solid #fff;
        opacity: 0;
        transition: 0.1s;
      }
    }
    &--green {
      label {
        background-color: #4DB45E;
      }
    }
    &--red {
      label {
        background-color: #EB001B;
      }
    }
    &--purple {
      label {
        background-color: #C12C99;
      }
    }
    &--pink {
      label {
        background-color: #FFD4DE;
      }
    }
    &--orange {
      label {
        background-color: #FFB801;
      }
    }
    &--yellow {
      label {
        background-color: #E5E861;
      }
    }
    &--beige {
      label {
        background-color: #FADFAB;
      }
    }
    &--blue {
      label {
        background-color: #088CCB;
      }
    }
    &--black {
      label {
        background-color: #131313;
      }
    }
    &--white {
      label {
        background-color: #FFFFFF;
        border: 1px solid #DFDFDF;
        &:after {
          border-color: #DFDFDF;
        }
      }
    }
    &--multicolor {
      label {
        background: conic-gradient(from 180deg at 50% 50%, #FF0000 0deg, #F3CC00 56.25deg, #7EF36B 116.25deg, #178BF7 206.25deg, #FB36DB 288.75deg, rgba(220, 0, 79, 0) 360deg);
      }
    }
    &--multicolor-light {
      label {
        background: conic-gradient(from 180deg at 50% 50%, #FAB9AB 0deg, #FAE4AB 52.5deg, #E5FAAB 108.75deg, #ABFAE7 210deg, #ACABFA 286.87deg, rgba(250, 171, 185, 0) 360deg);
      }
    }
  }
  @include media-breakpoint-up(md) {
    &__btn {
      &:hover {
        .filter__circles {
          transform: translate(0, -2px);
      
          &:before,
          &:after {
            transform: translate(0, 5px);
          }
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    position: relative;
    margin-bottom: 20px;
  }
  @include media-breakpoint-down(sm) {
    &__drop {
      width: 300px;
    }
  }
}