.header {
  &__top {
    padding: 50px 0;
    background-image: url(../img/header_bg.jpg);
    background-size: cover;
    transition: 0.5s;
    overflow: hidden;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // padding: 0 50px;
    }
  }
  &__logo {
    max-width: 140px;
    img {
      display: block;
    }
  }
  &__searchblock {
    flex-grow: 1;
    max-width: 710px;
    margin: 0 40px;
  }
  &__title {
    font-size: 40px;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  &__search {
    position: relative;
    input {
      width: 100%;
      height: 47px;
      padding: 0 55px 0 34px;
      border-radius: 24px;
      border: none;
      outline: none;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      transition: 0.3s;
      &:focus, &:hover {
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
      }
    }
    label {
      position: absolute;
      top: 50%;
      right: 26px;
      transform: translate(0,-50%);
    }
  }
  &__contact {
    max-width: 280px;
    font-size: 24px;
    text-align: right;
    p {
      margin: 25px 0;
      a {
        color: $text;
        white-space: nowrap;
        &:hover {
          color: $purple;
        }
      }
    }
  }
  @include media-breakpoint-down(xl) {
    &__top {
      padding: 20px 0;
    }
    &__searchblock {
      max-width: 550px;
      margin-right: 0;
      text-align: right;
    }
    &__title {
      font-size: 30px;
      margin-bottom: 20px;
    }
    &__logo {
      max-width: 120px;
    }
  }
  @include media-breakpoint-down(md) {
    &__top {
      padding: 10px 0;
    }
    &__logo {
      max-width: 70px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__top {
      .container {
        // padding: 0 12px;
      }
    }
  }
}

@keyframes showStyky {
  0% {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0)
  }
}

// stiky menu
#header {
  position: absolute;
  width: 100%;
  z-index: 20;
  &.stiky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation: showStyky 0.5s;
  
    .header__top {
      max-height: 0;
      padding: 0;
    }
  }
}