/* settings */
svg {
  max-width: 100%;
}
html {
  height: 100%;
}
a {
  transition: .2s;
  text-decoration: none;
}
button,
input,
textarea {
  font-family: "SF Pro Display", sans-serif;
  font-size: 18px;
}
body {
  height: 100%;
  min-width: 319px;
  background-color: #fff;
  font-family: "SF Pro Display", sans-serif;
  font-size: 18px;
  color: $text;
  line-height: 0.95;
  letter-spacing: -0.02em;
  &.lock {
    overflow: hidden;
  }
}
.mobile-hide {
  @include media-breakpoint-down(md) {
    display: none !important;
  }
}
.mobile-visible {
  @include media-breakpoint-up(md) {
    display: none !important;
  }
}
.img-responsive {
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:after {
    content: '';
    display: block;
    padding-top: 56.25%;
  }
}
*:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}
*::placeholder {
  color: $prompt;
  opacity: 1;
}
.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex-grow: 1;
}
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $purple;
  outline: none;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
  &--white {
    background-color: $white;
    color: $purple;
    &:hover {
      background-color: $purple;
      color: #fff;
    }
  }
  &--purple {
    background-color: $purple;
    color: $white;
    &:hover {
      box-shadow: $box_shadow;
      color: $white;
    }
  }
  &--small {
    padding: 7px 21px;
  }
  &--medium {
    padding: 5px 16px;
    font-size: 22px;
  }
  &--large {
    padding: 14px 78px;
  }
}
.navPage {
  padding: 50px 0;
  h1 {
    margin-bottom: 10px;
  }
  li {
    margin: 5px 0;
  }
}
.swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: $purple;
}

.air-datepicker {
  width: 280px;
  border-radius: 15px;
  border: none;
  box-shadow: $box_shadow !important;
}
.air-datepicker-nav {
  border: none;
  padding: 15px 10px;
}
.air-datepicker-nav--action {
  path {
    stroke: $text;
  }
}
.air-datepicker-nav--title {
  font-size: 24px;
  color: #000;
  i {
    color: #000;
  }
}
.air-datepicker--content {
  padding: 10px 15px 15px;
}
.air-datepicker-body--day-names {
  margin: 8px 0 10px;
}
.air-datepicker-body--day-name {
  font-size: 12px;
  color: #000;
}
.air-datepicker-body--cells {
  border-top: 1px solid #DFDFDF;
  border-left: 1px solid #DFDFDF;
}
.air-datepicker-cell {
  border-radius: 0;
  border-right: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  font-size: 14px;
  color: #000;
  &.-selected- {
    background: $purple;
    &:hover {
      background: $purple;
    }
  }
  &.-current- {
    color: $purple;
    &:hover {
      color: $purple;
    }
  }
  &.-day-.-other-month- {
    color: #747474;
    &.-disabled- {
      color: var(--adp-color-disabled);
    }
    &:hover {
      color: #747474;
    }
  }
  &.-selected-.-current- {
    background: $purple;
    &:hover {
      color: #fff;
    }
  }
}
/* /settings */